<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<imi.wms.mobile.ui connectTimeout="5" receiveTimeout="20" sendTimeout="5" retryCount="2" logEnabled="False" terminalId="910T1" nativeDriver="">
		<fontConversions>
			<font oldName="MS Sans Serif" newName="Tahoma" sizeAdjust="-1"/>
		</fontConversions>
		<servers>
			<server name="Dev" hostName="localhost" port="16601" default="false" defaultApplication=""/>
		</servers>
		<windowsDesktopSettings>
			<setting key="startAppInFullScreen" value="true"/>
		</windowsDesktopSettings>
	</imi.wms.mobile.ui>
</configuration>