<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="resourceMasterFilePath" value="N:\source\SupplyChain\ResourceMaster.xml"/>
		<add key ="resx_translation_cultureNames" value="fi,nb-NO,lv,sv,da,et,es"/>
		<add key ="resx_default_cultureName" value="en-US"/>
	</appSettings>
</configuration>