<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServiceTester.Properties.Settings>
            <setting name="WebServiceTester_WarehouseService_WarehouseWebService"
                serializeAs="String">
                <value>http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.Warehouse.asmx</value>
            </setting>
            <setting name="WebServiceTester_CustomerService_CustomerWebService"
                serializeAs="String">
                <value>http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.Customer.asmx</value>
            </setting>
            <setting name="WebServiceTester_ProductSearchService_ProductSearchWebService"
                serializeAs="String">
                <value>http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.ProductSearch.asmx</value>
            </setting>
            <setting name="WebServiceTester_OrderService_OrderWebService"
                serializeAs="String">
                <value>http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.Order.asmx</value>
            </setting>
        </WebServiceTester.Properties.Settings>
    </applicationSettings>
</configuration>