<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!--
        <bindings>
            <basicHttpBinding>
                <binding name="GetMenuBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ptv1.im.se:9080/csf-omswebservices/genericPort?service=GetMenu&amp;host=pluto&amp;port=3039"
                binding="basicHttpBinding" bindingConfiguration="GetMenuBinding"
                contract="GetMenuServiceReal.GetMenuService" name="GetMenuService" />
        </client>
        -->

        <bindings>
            <basicHttpBinding>
                <binding name="GetMenuBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ptv1.im.se:9080/csf-omswebservices/genericPort?service=GetMenu"
                binding="basicHttpBinding" bindingConfiguration="GetMenuBinding"
                contract="GetMenuServiceReal.GetMenuService" name="GetMenuService" />
        </client>
    </system.serviceModel>
</configuration>