<?xml version="1.0" encoding="utf-8"?>
<ServerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" RefreshRate="Normal">
	<RootFolder Name="">
			<Server DisplayName="WMSDevelop" HostName="localhost" Port="9000"/>
			<Server DisplayName="RMSDevelop" HostName="localhost" Port="9100"/>
  </RootFolder>
	<Broadcast Ip="239.255.255.255" Port="11000" Timeout="3000"/>
</ServerConfig>
