<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Library\Core.cst" Inherits="ReportCoreTemplate" Debug="False" Description="Template description here." %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="Cdc.MetaManager.DataAccess" %>
<%@ Assembly Name="Cdc.CodeGeneration.Caching" %>
<%@ Assembly Name="System.Collections.Generic" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Cdc.MetaManager.DataAccess.Domain" %>
<%@ Import Namespace="Cdc.CodeGeneration.Caching" %>
<%@ Register Name="StubBeforePrintProcedureHeaderTemplate" Template=".\StubBeforePrintProcedureHeaderTemplate.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Property Name="report" Type="Cdc.MetaManager.DataAccess.Domain.Report" Default="" Optional="false" Category="" Description="" %>
<%@ Property Name="packageName" Type="System.String" Default="" Optional="false" Category="" Description="" %>
/*page
********************************************************************************
**
** Procedure     : Before_<%=report.Name%>
**
********************************************************************************
*/
<%
StubBeforePrintProcedureHeaderTemplate stubBeforePrintProcedureHeaderTemplate = this.Create<StubBeforePrintProcedureHeaderTemplate>();
stubBeforePrintProcedureHeaderTemplate.SetProperty("report", report);
stubBeforePrintProcedureHeaderTemplate.SetProperty("isSpec", false);
stubBeforePrintProcedureHeaderTemplate.Render(this.Response);
%>
is
begin
  Global.Stack_Name('<%=packageName%>.Before_<%=report.Name%>');
  logg_output.put_line('>>> <%=packageName%>.Before_<%=report.Name%>');

  Global.ALMID := null;

  /* 
  ** YOUR CODE HERE! 
  ** Remember that if this procedure sets the ALARM_O to anything 
  ** but null then there will be no printout!
  */

  ALMID_O := Global.ALMID;

  logg_output.put_line('<<< <%=packageName%>.Before_<%=report.Name%>  ALMID:' || nvl( Global.ALMID, '<null>' ));
  Global.Unstack_Name;

end Before_<%=report.Name%>;
