<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="imi.framework.messaging" type="Imi.Framework.Messaging.Configuration.MessagingSection, Imi.Framework.Messaging"/>
    <section name="imi.wms.voice.vocollect" type="Imi.Wms.Voice.Vocollect.Configuration.VocollectSection, Imi.Wms.Voice.Vocollect"/>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name ="voice" connectionString="data source=WHTRUNK;user id=owuser;password=owuser;pooling=true;min pool size=10;max pool size=100;enlist=false"/>
  </connectionStrings>

  <imi.framework.messaging pendingOperationsTimeout="20000" deadlockTimeout="60000"/>

  <imi.wms.voice.vocollect xsltPath=".\xslt" logPath="..\..\instance\VoiceDevelop\log" maxLogSize="1048576" database="voice" odrConfirmationByte="0xFF" codePageName="iso-8859-1">
    <tcpAdapter port="15000"/>
    <messages>
      <add id="CriticalError" text="Error processing data, please contact your system administrator."/>
    </messages>
  </imi.wms.voice.vocollect>

  <system.diagnostics>
    <trace autoflush="true">
    </trace>
    <sources>
      <source name="MessageEngine" switchValue="Information">
        <!--
        * The "switchValue" attribute can have one of the following values:
        *
        * Off         Tracing disabled
        * Error       Trace exceptions
        * Warning     Trace exceptions and warnings
        * Information Trace exceptions, warnings and info messages
        * Verbose     Trace verbose
        * All         Trace all of the above
        -->
        <listeners>
          <!--Logs to the Windows Event Log (not recommended for trace levels above "Warning").-->
          <!--
          <add name="EventLog"
               type="System.Diagnostics.EventLogTraceListener"
               initializeData="VoiceDevelop"/>
          -->
          <!--
          <add name ="ConsoleListener" 
               type="System.Diagnostics.ConsoleTraceListener"
               traceOutputOptions="ProcessId, ThreadId, DateTime"
               />
          -->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>