<?xml version="1.0" encoding="utf-8"?>
<ServerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" RefreshRate="Normal">
  <RootFolder Name="/">
    <Server Port="9000" HostName="localhost" DisplayName="WMSDevelop" />
    <Server Port="9100" HostName="localhost" DisplayName="RMSDevelop" />
    <Server Port="9200" HostName="localhost" DisplayName="SmartClientDevelop" />
	<Server Port="9300" HostName="localhost" DisplayName="OMDevelop" />
  </RootFolder>
  <Broadcast Ip="239.255.255.255" Port="11000" Timeout="3000" />
</ServerConfig>