<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="">
		<clear />
		<add key="StagingArea" value="\\ukimidev01\StagingArea" />
		<add key="WebserverPort" value="80" />
		<add key="WebserverName" value="UKIMIDEV01" />
		<add key="MainVirtualDirectoryName" value="IMIMenu" />
		<add key="MainVirtualDirectoryPath" value="C:\inetpub\wwwroot\IMIMenu" />
		<add key="InternetGuestAccount" value="IUSR" />
		<add key="CertificateFile" value="C:\projects\views\aron_latest\dotnet\source\SupplyChain\UX\Deployment\imi.pfx" />
		<add key="AskForCertificatePassword" value="False" />
		<add key="LastImportDirectory" value="C:\projects\views\aron_latest\dotnet\source\SupplyChain\UX\Deployment\bin\x86\Release" />
	</appSettings>
</configuration>