<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Imi.SupplyChain.UX.Shell.Properties.LocalUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Imi.SupplyChain.UX.Shell.Properties.LocalUserSettings>
            <setting name="LastLogonUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLogonUICultureName" serializeAs="String">
                <value />
            </setting>
        </Imi.SupplyChain.UX.Shell.Properties.LocalUserSettings>
    </userSettings>
</configuration>