<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="imi.framework.shared.configuration" type="Imi.Framework.Shared.Configuration.SharedConfigurationSection, Imi.Framework.Shared"/>
	</configSections>

	<imi.framework.shared.configuration>
		<instances>
			<add name="Main" namespace="Cdc.MetaManager.GUI.MetaManagerGUI" file="..\..\instance\Main\init\app.config"/>
		</instances>
	</imi.framework.shared.configuration>
</configuration>