<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="productName" value="System" />
    <add key="contractVersion" value="2010/02" />
    <add key="serviceName" value="Settings" />
    <add key="isMobile" value="false" />
    <add key="actionsDll" value="..\..\..\BusinessLogic\bin\debug\Cdc.SupplyChain.Settings.BusinessLogic.dll"/>
    <add key="actionsNameSpace" value="Cdc.SupplyChain.Settings.BusinessLogic"/>
    <add key="rootNameSpace" value="Cdc.SupplyChain.Services.Settings" />
    <add key="businessLogicNameSpace" value="Cdc.SupplyChain.Settings.BusinessLogic" />
    <add key="domainNamespace" value="Cdc.SupplyChain.Settings.BusinessEntities" />
    <add key="outputDirectory" value="..\..\.." />

    <!-- Skip these -->
    <add key="mobileOutputDirectory" value="" />
    <add key="mobileRootNameSpace" value="" />

    <add key="mobileBusinessRootNameSpace" value="" />
    <add key="mobileBusinessOutputDirectory" value="" />

    <add key="mobileDataAccessRoottNameSpace" value="" />
    <add key="mobileDataAccessOutputDirectory" value="" />
    <add key="businessEntityDll" value="" />
    <add key="businessEntityNamespace" value="" />
    <add key="actionsDomain" value="" />

  </appSettings>
</configuration>
