<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="imi.framework.shared.configuration" type="Imi.Framework.Shared.Configuration.SharedConfigurationSection, Imi.Framework.Shared"/>
	</configSections>

	<imi.framework.shared.configuration>
		<instances>
			<add name="WMSDevelop" namespace="Imi.SupplyChain.Server" file="..\..\instance\WMSDevelop\init\server.config"/>
			<add name="RMSDevelop" namespace="Imi.SupplyChain.Server" file="..\..\instance\RMSDevelop\init\server.config"/>
			<add name="SmartClientDevelop" namespace="Imi.SupplyChain.Server" file="..\..\instance\SmartClientDevelop\init\server.config"/>
			<add name="OMDevelop" namespace="Imi.SupplyChain.Server" file="..\..\instance\OMDevelop\init\server.config"/>
		</instances>
	</imi.framework.shared.configuration>
</configuration>