<folder caption="Warehouse">
  <folder id="bbdba6ff-363f-44ec-be73-0823c7f053c6" caption="Inbound">
    <item caption="Inbound Overview" id="e5de424d-4594-4211-9374-4bc2043c57bb" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InboundOrderLine.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InboundOrderLine.InboundOrderLine/ShowDialog"/>
    <item caption="Inbound Overview Not Notified" id="ab3f5ced-17ee-4d9a-bb0e-d894a35d3be1" topicIdentity="Undefined" parameters=""/>
    <item caption="Undestined Load Carriers" id="2559f6b7-df3d-45fd-bf0f-9e6bece9cc32" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.UndestinedLoadCarriers.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.UndestinedLoadCarriers.UndestinedLoadCarriers/ShowDialog"/>
    <item caption="Reception Load Carrier" id="70cd31be-c32f-4847-bff9-42881f1927c2" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ReceiptLoadCarrier.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ReceiptLoadCarrier.ReceptionLoadCarrier/ShowDialog"/>
    <folder id="47ab8696-a834-41f3-8b72-1e473cfabcaf" caption="Configuration">
      <item caption="Receive Type" id="6acd82ad-fefe-4578-ad8e-119bf6e2e9fd" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ReceiveType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ReceiveType.ConfigureReceiveType/ShowDialog"/>
      <item caption="Purchase Order Type" id="8036ec45-d362-46a4-8ec7-df69d34de23c" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PurchaseOrderType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PurchaseOrderType.ConfigurePurchaseOrderType/ShowDialog"/>
      <item caption="Destination Rule" id="69b85723-1c26-4154-bea0-bc7754dd3bf4" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.DestinationRule.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.DestinationRule.ConfigureDestinationRule/ShowDialog"/>
      <item caption="Configure Packing Material Template" id="6ed9f344-2513-40bc-99d9-993292b1a38d" topicIdentity="Undefined" parameters=""/>
    </folder>
    <folder id="7b22b960-1f4c-4ff3-9f38-e0178af75d86" caption="History">
      <item caption="Receipt History" id="942b3b63-b929-46d3-9d8d-61e9e99f44be" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ReceiptHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ReceiptHistory.ReceiptHistory/ShowDialog"/>
      <item caption="Inbound Overview History" id="96c46a2e-b94f-4628-a486-50617e87ce3f" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InboundOrderLineHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InboundOrderLineHistory.InboundOrderLineHistory/ShowDialog"/>
      <item caption="Return of Packing Material History" id="c478e575-9e06-456c-91d5-5aa16e8f60b2" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ReturnOfPackingMaterialHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ReturnOfPackingMaterialHistory.ReturnofPMHistory/ShowDialog"/>
      <item caption="Repack Overview History" id="63288ad4-82de-4080-9c6e-c901627a99d5" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.RepackOverviewHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.RepackOverviewHistory.RepackOverviewHistory/ShowDialog"/>
      <item caption="Inspection History" id="58057b50-c504-41b1-a74c-320f361d635f" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InspectionHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InspectionHistory.InspectionHistory/ShowDialog"/>
    </folder>
  </folder>
  <folder id="c1d38cb7-71d2-4403-8cea-78985b7bb6e1" caption="Movement">
    <item caption="Movement Order" id="b4542a06-0600-4a1e-805f-c05540ed2002" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementOrder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementOrder.MovementOrder/ShowDialog"/>
    <item caption="Movement Task" id="a49ccb9e-b8a2-45a6-94f2-af72db403b4f" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementTask.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementTask.MovementTask/ShowDialog"/>
    <folder id="369f79da-d98d-4fa2-a0e5-b23c533c28bd" caption="Configuration">
      <item caption="Movement Type" id="87d5b1a2-8569-4e2a-9a24-14e2c55d3993" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementType.ConfigureMovementType/ShowDialog"/>
      <item caption="Movement Route" id="b99c5d0e-4dfc-49f8-8aa2-48b6dfbf5d33" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementRoute.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementRoute.ConfigureMovementRoute/ShowDialog"/>
      <item caption="Lift Truck Type" id="d69ccb08-b947-46ac-ad5e-901573ca0139" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.LiftTruckType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.LiftTruckType.ConfigureLiftTruckType/ShowDialog"/>
      <item caption="Lift Truck" id="ca434f2f-197e-4d42-9c3b-b53f9e9fd7c5" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.LiftTruck.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.LiftTruck.LiftTruck/ShowDialog"/>
      <item caption="Pick Truck Type" id="440ae6a2-ad0f-41ce-bbc8-161dd46fd73d" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickTruckType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickTruckType.PickTruckType/ShowDialog"/>
      <item caption="Pick Truck" id="09f4a0c7-1409-46ac-9ba7-f994b34d8793" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickTruck.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickTruck.PickTruck/ShowDialog"/>
    </folder>
    <folder id="11655214-4f86-448c-be03-becfc2cedcdf" caption="History">
      <item caption="Movement Order History" id="5b23c256-7488-476f-adce-1d5a2788e663" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementOrderHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementOrderHistory.MovementOrderHistory/ShowDialog"/>
      <item caption="Movement Task History" id="d1d1b374-c1a5-4aeb-b089-1a66fbfd7bd5" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovementTaskHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovementTaskHistory.MovementTaskHistory/ShowDialog"/>
    </folder>
  </folder>
  <folder id="9615d884-259d-4ba9-bec0-7e25cc230f10" caption="Outbound">
    <item caption="Pick Station" id="723344ac-1bbd-49ce-99b5-2eb18d376210" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickStation.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickStation.PickStation/ShowDialog"/>
    <item caption="Customer Order" id="1ec23f74-b068-43e4-85ad-f4c843e8ad16" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrder.CustomerOrder/ShowDialog"/>
    <item caption="Pick Wave" id="278b380b-48c7-4aab-aaec-45e2d22ef3c5" topicIdentity="Undefined" parameters=""/>
    <item caption="Pick Order" id="6b73c727-06c4-4854-8bc0-d2e43df4751a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickOrder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickOrder.PickOrder/ShowDialog"/>
    <item caption="Departure" id="058208f8-f828-4f98-8a32-e1fe6c372c61" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Departure.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Departure.Departure/ShowDialog"/>
    <item caption="Pick Load Carrier" id="9715bdd5-2863-4556-a22b-84f6a48262e7" topicIdentity="Undefined" parameters=""/>
    <item caption="Pick Replenishment Order" id="078ffc1f-46cd-4ebb-a6dd-57ca3842625e" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickReplenishmentOrder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickReplenishmentOrder.PickReplenishmentOrder/ShowDialog"/>
    <item caption="Complete Replenishment from Item Load" id="37a4dbdd-0070-4231-8193-7b46a6e6662f" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoad.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoad.CompleteReplenishmentfromItemLoad/ShowDialog"/>
    <folder id="dc53cabf-59b1-46bf-98c9-f2a7ccdf79f4" caption="Configuration">
      <item caption="Customer Type" id="324b0a21-cf08-491e-b651-2450fe15d598" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.CustomerType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.CustomerType.ConfigureCustomerType/ShowDialog"/>
      <item caption="Customer Order Type" id="4a696f00-592b-4674-b9a7-283d1d727485" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrderType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrderType.ConfigureCustomerOrderType/ShowDialog"/>
      <item caption="Customer Order Status" id="54b8159c-3604-423d-8f47-8c62c8be1ee9" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrderStatus.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.CustomerOrderStatus.ConfigureCustomerOrderStatus/ShowDialog"/>
      <item caption="Method of Shipment" id="7b897761-ee5c-4c6f-b135-d5dfbe9111e8" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MethodOfShipment.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MethodOfShipment.ConfigureMethodofShipment/ShowDialog"/>
      <item caption="Consignment Number" id="d992244f-b511-4f35-88b4-0fccb710ae8b" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ConsignmentNumberSeries.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ConsignmentNumberSeries.ConfigureConsignmentNumber/ShowDialog"/>
      <item caption="Forwarder" id="75427ee4-2d48-4b29-b280-f9d2fa02682c" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Forwarder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Forwarder.ConfigureForwarder/ShowDialog"/>
    </folder>
    <folder id="75269207-ff6f-4e41-a59b-95c26e495ad1" caption="History">
      <item caption="Departure History" id="d6a0fb0c-b542-4c82-b4c4-0cb7ffd9da78" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.DepartureHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.DepartureHistory.DepartureHistory/ShowDialog"/>
      <item caption="Consignment History" id="f2831155-1082-4dff-bac9-1ecd420041dc" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ConsignmentHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ConsignmentHistory.ConsignmentHistory/ShowDialog"/>
      <item caption="Customer Order Line History" id="ad7f5dd4-2b40-40cd-9843-5f5a62d0ed60" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.CusOrdLineHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.CusOrdLineHistory.COLineHistory/ShowDialog"/>
      <item caption="Pick Wave History" id="316ee39c-130a-4ad2-a9cc-da6e045833c4" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickWaveLogg.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickWaveLogg.PickWaveHistory/ShowDialog"/>
      <item caption="Vendor Return Order Line History" id="c17d4dff-a0c7-4716-aace-0d0ce1eaf408" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.VendorReturnOrderLineHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.VendorReturnOrderLineHistory.VendorReturnOrderLineHistory/ShowDialog"/>
      <item caption="Pick Order History" id="59a8f0b2-759d-49a7-9849-99e92d3c6a76" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickOrderLineHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickOrderLineHistory.PickOrderHistory/ShowDialog"/>
      <item caption="Pick Order Line History" id="a0f8467b-2a31-4674-90d8-74c6ca781ab0" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickOrderLineHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickOrderLineHistory.PickOrderLineHistory/ShowDialog"/>
      <item caption="Pick Load Carrier History" id="0fba71c5-d33b-4ff3-b72e-034b9c9b19b4" topicIdentity="Undefined" parameters=""/>
      <item caption="Pick Replenishment Order History" id="e3cc9314-7244-4f1b-abd0-6c9473455ecf" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickReplenishHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickReplenishHistory.PickReplenishHistory/ShowDialog"/>
    </folder>
  </folder>
  <folder id="9e710e29-ceb1-4aee-b375-512987d69d52" caption="Master Data">
    <item caption="Product" id="1010d265-e93c-428a-a81b-02f4cac295e2" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Product.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Product.Product/ShowDialog"/>
    <item caption="Product Type" id="214858f4-d3da-431d-b259-c8e12686ce29" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ProductType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ProductType.ConfigureProductType/ShowDialog"/>
    <item caption="Product Stock Group" id="11426b5f-1c5e-450c-96c1-b1cf30457097" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ProductStockGroup.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ProductStockGroup.ConfigureProductStockGroup/ShowDialog"/>
    <item caption="Product Warehouse Rule" id="233d84ad-770e-4d26-9998-198cf1c306dc" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.WarehouseRule.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.WarehouseRule.WarehouseRule/ShowDialog"/>
    <item caption="Product Number" id="7720488f-8dcc-4513-bd48-57c807b7e8a8" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ProductNumber.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ProductNumber.ProductNumber/ShowDialog"/>
    <item caption="Product Bar Code" id="d552f5f0-5c21-4429-ad33-4d83c18a33b8" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ProductNumber.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ProductNumber.ProductBarCode/ShowDialog"/>
    <item caption="Product Utilization" id="591a2cef-6dc1-498f-810c-f32639a36fbe" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ProductData.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ProductData.ProductUtilization/ShowDialog"/>
    <item caption="Party" id="513d7934-f1c4-4cf1-9207-8367c791a045" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Party.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Party.Party/ShowDialog"/>
    <item caption="Vendor" id="e5a185fd-400a-4d32-807e-c2542516691a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Vendor.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Vendor.Vendor/ShowDialog"/>
    <item caption="Customer Profile" id="840f06b7-ca74-4a9d-bd6e-2ff24bcbdad1" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Customer.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Customer.CustomerProfile/ShowDialog"/>
    <item caption="Client" id="101bad4c-78fd-4967-822c-1693bac9196a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Client.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Client.Client/ShowDialog"/>
    <item caption="Client Code Filter" id="df493718-b69d-4578-a917-4779a966ad3b" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Client.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Client.ClientCodeFilter/ShowDialog"/>
    <item caption="Client Code Conversion" id="64181436-60c9-4521-ae8e-414f231dcc70" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Client.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Client.ClientCodeConversion/ShowDialog"/>
  </folder>
  <folder id="e5399792-a2ab-45ef-9050-e00754fbcf77" caption="Inventory">
    <item caption="Item Load" id="92f47497-31a3-40fd-b286-974614e18669" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoad.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoad.ItemLoad/ShowDialog"/>
    <item caption="Load Carrier" id="a425c1bc-0b3a-4ab1-89b6-c6897211666e" topicIdentity="Undefined" parameters=""/>
    <item caption="Change Queue" id="019e4419-bd2e-4741-b14e-876da7990c84" topicIdentity="Undefined" parameters=""/>
    <item caption="Packing Material" id="3d74997f-1047-4a2b-a612-d3bf0637e378" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PackingMaterial.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PackingMaterial.PackingMaterial/ShowDialog"/>
    <folder id="a3a667c4-4a4f-427e-981f-8bf901ade6ce" caption="Inventory Audit">
      <item caption="Inventory Audit Order" id="0c461be0-29f1-438b-a808-dacf37cfd34f" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditOrder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditOrder.InventoryAuditOrder/ShowDialog"/>
      <item caption="Inventory Audit" id="35abffc0-c43f-4c8e-a5c8-2937a77ae33e" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAudit.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAudit.InventoryAudit/ShowDialog"/>
      <item caption="Inventory Audit Template" id="8dc9d7f4-c1a8-4dfd-9507-de48af07ab27" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditOrderTemplate.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditOrderTemplate.ConfigureInventoryAuditOrderTemplate/ShowDialog"/>
      <item caption="Inventory Audit History" id="23011430-b394-49fc-be46-0f857f467752" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditTrace.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.InventoryAuditTrace.TraceInventoryAudit/ShowDialog"/>
    </folder>
    <folder id="7009472f-06a0-4cef-a51b-83884fd3a0c7" caption="Configuration">
      <item caption="Item Load Type" id="9d5395b7-2ac2-413b-8fdd-e9b06445ba24" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadType.ConfigureItemLoadType/ShowDialog"/>
      <item caption="Item Load Change Code" id="6370ae5e-c8b2-428f-9692-09f6a98fcf6c" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadChangeCode.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadChangeCode.ConfigureItemLoadChangeCode/ShowDialog"/>
      <item caption="Load Carrier Type" id="6562b0e9-2118-4889-8fba-355f3fdf4b76" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrier.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrier.LoadCarrierType/ShowDialog"/>
      <item caption="Load Carrier Group" id="4d62081a-f438-4fa9-813c-cfee1c73b025" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrierGroup.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrierGroup.LoadCarrierGroup/ShowDialog"/>
      <item caption="Discrepancy Code" id="d9d09479-fbb2-4f32-af7f-e1fde028b288" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.DiscrepancyCode.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.DiscrepancyCode.ConfigureDiscrepancyCode/ShowDialog"/>
      <item caption="Hold Code" id="67267945-12eb-42ee-a5b6-2b592d7ca0e9" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.HoldCode.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.HoldCode.ConfigureHoldCode/ShowDialog"/>
    </folder>
    <folder id="1fc32bd4-6111-4779-b4fe-e6ee00ba3380" caption="History">
      <item caption="Item Load History" id="3f2f5631-0f74-48cd-a249-bfd400f04585" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ItemLoadHistory.ItemLoadHistory/ShowDialog"/>
      <item caption="Load Carrier History" id="4ec6c192-d8fa-4df8-b417-24b23875c64b" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrierHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.LoadCarrierHistory.LoadCarrierHistory/ShowDialog"/>
    </folder>
  </folder>
  <folder id="66b80c3f-d29e-49e4-9921-81de030bf282" caption="Warehouse Layout">
    <item caption="Warehouse" id="f35f5e5f-7605-4824-ac1e-8b4790cc3f7a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Warehouse.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Warehouse.Warehouse/ShowDialog"/>
    <item caption="Area" id="3055986f-83c4-4191-901f-dda9d4b40d88" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Area.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Area.Area/ShowDialog"/>
    <item caption="Area Storage" id="ab493fd4-01e9-4621-a359-e75b3df18036" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Area.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Area.AreaStorage/ShowDialog"/>
    <item caption="Area Pick" id="1f08e2fd-21ce-4d55-b300-8a03094572d9" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Area.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Area.AreaPick/ShowDialog"/>
    <item caption="Location" id="9102548e-62ba-4394-a177-d904f67f7419" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Location.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Location.Location/ShowDialog"/>
    <item caption="Pick Location" id="06a70084-b48b-4afc-bf5c-2a1f0a14c790" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickLocation.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickLocation.PickLocation/ShowDialog"/>
    <item caption="Aisle" id="6baacce9-c821-45e3-99a8-3db04526cb3a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Aisle.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Aisle.Aisle/ShowDialog"/>
    <item caption="Pick Zone" id="d0cac54c-4281-48d6-99df-e5c40d201aa4" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickZone.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickZone.PickZone/ShowDialog"/>
    <item caption="Pick Zone Group" id="ec5342df-847b-4d0f-8b6c-89aa229d2ada" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.PickZoneGroup.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.PickZoneGroup.PickZoneGroup/ShowDialog"/>
    <item caption="Moving Unit Zone" id="e610ea52-fb47-4a1c-8aef-0753165de965" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.MovingUnitZone.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.MovingUnitZone.ConfigureMovingUnitZone/ShowDialog"/>
  </folder>
  <folder id="4cf4aa29-2e31-49f4-9171-4f58a768636e" caption="Slotting">
    <item caption="Slotting Input" id="036ed5f2-ea0f-4595-bdf7-92397846a006" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.SlottingInput.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.SlottingInput.SlottingInput/ShowDialog"/>
  </folder>
  <folder id="57ec71f5-5a45-4dbe-a066-70cc861a424d" caption="System">
    <item caption="System Admin" id="362e23a0-8574-4587-a5d6-583129f2afc2" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Configuration.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Configuration.ConfigureSystem/ShowDialog"/>
    <item caption="User" id="1768e807-509c-4b70-801b-cf1dcb2ab7e7" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.User.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.User.User/ShowDialog"/>
    <item caption="Terminal" id="cd3a112c-cb1f-4ca0-bea7-23c80683e656" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Terminal.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Terminal.Terminal/ShowDialog"/>
    <item caption="Identity Alias" id="a482bd8b-d655-4db7-9416-0efd37be665c" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.IdAlias.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.IdAlias.ConfigureIdentityAlias/ShowDialog"/>
    <item caption="Bar Code Application Identifier" id="e2884381-70e1-4ea3-a464-12465fd93b03" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.BarCodeApplicationsIdentifier.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.BarCodeApplicationsIdentifier.BarCodeAI/ShowDialog"/>
    <item caption="Driver" id="bd863cbe-c1cc-4ddd-94cb-a60cf1c237e7" topicIdentity="Undefined" parameters=""/>
    <item caption="Attribute" id="04f4e174-242c-473b-bcfb-a68b9d21932a" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Attribute.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Attribute.ConfigureAttribute/ShowDialog"/>
    <item caption="Alarm" id="c8ca2805-0187-4213-ad9b-034bae8f1d40" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.Alarm.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.Alarm.ConfigureAlarm/ShowDialog"/>
    <item caption="Alarm Group" id="f1b88b5a-668b-449d-98c1-094db5056e1d" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.AlarmGroup.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.AlarmGroup.ConfigureAlarmGroup/ShowDialog"/>
    <item caption="Conversion Units" id="6c4ea97a-a5da-44a5-b4a7-8af7255514a5" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ConversionUnit.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ConversionUnit.ConversionUnits/ShowDialog"/>
    <item caption="Set of Conversion Units" id="e7020692-0f85-4989-a83b-a7e82e82c775" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.ConversionUnit.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.ConversionUnit.SetofConversionUnits/ShowDialog"/>
    <folder id="accb7ed8-c778-421c-915e-a0b2ee1ee212" caption="History">
      <item caption="Terminal History" id="a0970157-e616-4c62-a7ef-68014df5d82e" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.RfTerminalEventLog.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.RfTerminalEventLog.TerminalHistory/ShowDialog"/>
      <item caption="User Logon History" id="9e036564-8ebf-4cd1-8f3c-7b607659eb02" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.UserHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.UserHistory.UserLogonHistory/ShowDialog"/>
      <item caption="User Change History" id="04ce5ab7-ece8-4cec-8724-0b8298f5c1e0" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.UserHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.UserHistory.UserChangeHistory/ShowDialog"/>
      <item caption="Database Log" id="d868b23d-96c0-45ba-9ee5-1c7e320059ea" assemblyFile="Cdc.SupplyChain.Warehouse.UX.Modules.WarehouseCheck.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.Warehouse.UX.Modules.WarehouseCheck.DatabaseLog/ShowDialog"/>
    </folder>
  </folder>
  <item caption="Change User Settings" id="59168e8d-9b97-4a1a-94ba-401cc9f8d807" assemblyFile="Cdc.SupplyChain.UX.Modules.Warehouse.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Warehouse/ShowDialog" parameters="event://Cdc.SupplyChain.UX.Modules.Warehouse.Views.ChooseDefaultWarehouse/ShowDialog"/>
</folder>
