<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="imi.supplychain.server" type="Imi.Framework.Job.Configuration.ServerInstanceSection, Imi.Framework.Job"/>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="rms" connectionString="data source=WH80M;user id=rmuser;password=rmuser;pooling=false;enlist=false"/>
	</connectionStrings>
	<imi.supplychain.server systemId="RMSDevelop" name="Route Development System" database="rms" port="9100" uri="IMIServer" autoStart="true">
		<Log logLevel="Verbose" fileName="..\..\instance\RMSDevelop\log\server.log" maxLogSize="512000"/>
		<ScheduleList>
			<Schedule name="30SecRule" description="30 second rule">
				<RuleSet>
					<Rule second="0,30" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="15SecRule" description="15 second rule">
				<RuleSet>
					<Rule second="0,15,30,45" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="10SecRule" description="10 second rule">
				<RuleSet>
					<Rule second="0,10,20,30,40,50" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="OnceANight" description="One a Night (once a day 20.15)">
				<RuleSet>
					<Rule second="0" minute="15" hour="20" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="DBDailyNight" description="DBDaily Night (once a day 21.15)">
				<RuleSet>
					<Rule second="0" minute="15" hour="21" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="HourRule" description="Hour Rule (once every hour)">
				<RuleSet>
					<Rule second="0" minute="0" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="DBWeek" description="DBDaily Week (once every Sunday at 22.15)">
				<RuleSet>
					<Rule second="0" minute="15" hour="22" dayOfWeek="0" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="DailyCost" description="Daily Cost Followup (once a day 23.15)">
				<RuleSet>
					<Rule second="0" minute="15" hour="23" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="5MinRule" description="5 minute rule">
				<RuleSet>
					<Rule second="0" minute="0,5,10,15,20,25,30,35,40,45,50,55" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
			<Schedule name="1MinRule" description="1 minute rule">
				<RuleSet>
					<Rule second="15" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
				</RuleSet>
			</Schedule>
		</ScheduleList>
		<JobTypeList>
			<JobType name="OracleJob" type="Imi.SupplyChain.Server.Job.StandardJob.StandardOracleJob, Imi.SupplyChain.Server.Job.StandardJob"/>
			<JobType name="MailAgent" type="Imi.SupplyChain.Server.Job.MailAgent.MailAgent, Imi.SupplyChain.Server.Job.MailAgent"/>
			<JobType name="WebServiceSndRMS" type="Imi.SupplyChain.Server.Job.WebServiceSendRMS.WebServiceSendRMS, Imi.SupplyChain.Server.Job.WebServiceSendRMS"/>
		</JobTypeList>
		<JobList>
			<Job name="MailAgent" enabled="true" scheduleName="30SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="MailAgent.log" maxLogSize="512000"/>
				<Implementation name="MailAgent">
					<Parameter name="MailServer" value="imimail.imiad.im.se"/>
					<Parameter name="ReturnAddress" value="ow@im.se"/>
				</Implementation>
			</Job>
			<Job name="WebServiceSndRMS" enabled="true" scheduleName="30SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="WebServiceSndRMS.log" maxLogSize="51200"/>
				<Implementation name="WebServiceSndRMS">
					<Parameter name="profileRefreshTime" value="30"/>
				</Implementation>
			</Job>
			<Job name="DBDailyClean" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
				<Log logLevel="Verbose" fileName="DBDailyClean.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobDBDailyClean.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.DBDailyClean.log"/>
				</Implementation>
			</Job>
			<Job name="DepMon" enabled="true" scheduleName="5MinRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="DepMon.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobDepMon.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.DepMon.log"/>
				</Implementation>
			</Job>
			<Job name="DepPlan" enabled="true" scheduleName="10SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="DepPlan.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobDepPlan.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.DepPlan.log"/>
				</Implementation>
			</Job>
			<Job name="ErrorReport" enabled="true" scheduleName="30SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="ErrorReport.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobErrorReport.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.ErrorReport.log"/>
				</Implementation>
			</Job>
			<Job name="SignalMon" enabled="true" scheduleName="" waitForEvent="false">
				<Log logLevel="Verbose" fileName="SignalMon.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobSignalMon.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.SignalMon.log"/>
				</Implementation>
			</Job>
			<Job name="MsgOut" enabled="true" scheduleName="15SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="MsgOutProc.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobMessageOutProc.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.MsgOutProc.log"/>
				</Implementation>
			</Job>
			<Job name="MsgRcv" enabled="true" scheduleName="15SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="MsgRcv.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobMessageRcv.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.MsgRcv.log"/>
				</Implementation>
			</Job>
			<Job name="APISnd" enabled="true" scheduleName="15SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="APISnd.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobAPISnd.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.APISnd.log"/>
				</Implementation>
			</Job>
			<Job name="TAPISndWS" enabled="true" scheduleName="15SecRule" waitForEvent="true">
				<Log logLevel="Verbose" fileName="TAPISndWS.log" maxLogSize="512000"/>
				<Implementation name="OracleJob">
					<Parameter name="Procedure" value="JobTAPISndWS.Main"/>
					<Parameter name="Log" value="true"/>
					<Parameter name="LogLevel" value="2"/>
					<Parameter name="LogFile" value="RMS.TAPISndWS.log"/>
				</Implementation>
			</Job>
		</JobList>
	</imi.supplychain.server>
</configuration>
