<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetGuiconfigurationBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ptv1.im.se:9080/csf-omswebservices/genericPort?service=GetGuiconfiguration"
                binding="basicHttpBinding" bindingConfiguration="GetGuiconfigurationBinding"
                contract="GetGuiconfigurationServiceReal.GetGuiconfigurationService"
                name="GetGuiconfigurationService" />
        </client>
    </system.serviceModel>
</configuration>