<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <imi.framework.shared.configuration>
    <instances>
      <add name="WMSDevelop" namespace="Imi.SupplyChain.Server" file="C:\Project\C#\Wms\Server\Console\bin\Debug\Imi.SupplyChain.Server.Console.exe.config"/>
    </instances>
  </imi.framework.shared.configuration>
  
</configuration>