<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="imi.supplychain.ux.shell" type="Imi.SupplyChain.UX.Shell.Configuration.ShellConfigurationSection, Imi.SupplyChain.UX.Shell"/>
	</configSections>
	<imi.supplychain.ux.shell
	  hostName="localhost"
	  hostPort="18801"
	  instanceNameLocalInstall="DEV"
	  helpBaseUri=""
	  hideUnauthorizedMenuItems="False"
	  themeName="MetroLight"
	  themeTintColor="#FF808080"
	  isGlassEnabled="False"
	  HttpListenerPort=""
    >
		<!-- services required for boot strapper -->
		<services>
			<add serviceType="Imi.SupplyChain.UX.Infrastructure.Services.IUserSessionService, Imi.SupplyChain.UX.Infrastructure" instanceType="Imi.SupplyChain.UX.Shell.Services.UserSessionService, Imi.SupplyChain.UX.Shell"/>
			<add serviceType="Imi.Framework.UX.Services.IChannelFactoryService, Imi.Framework.UX" instanceType="Imi.SupplyChain.UX.Services.ChannelFactoryService, Imi.SupplyChain.UX"/>
		</services>
		<languages>
			<language name="English" culture="en-US"/>
			<language name="Eesti" culture="et"/>
			<language name="Latvijas" culture="lv"/>
			<language name="Norsk" culture="nb-NO"/>
			<language name="Polski" culture="pl"/>
			<language name="Suomalainen" culture="fi"/>
			<language name="Svenska" culture="sv"/>
		</languages>
	</imi.supplychain.ux.shell>
	<system.serviceModel>
		<client>
			<!--
      <endpoint address="net.tcp://hostname/serviceName" binding="netTcpBinding" behaviorConfiguration="acceptLargeGraphs" bindingConfiguration="NetTcpBindingEndpoint" contract="contractName" name="serviceInterface"/>
      -->
			<endpoint address="https://hostname/serviceName" binding="ws2007FederationHttpBinding" behaviorConfiguration="acceptLargeGraphs" bindingConfiguration="wsFed2007BindingConfig" contract="contractName" name="serviceInterface"/>
		</client>
		<bindings>
			<ws2007FederationHttpBinding>
				<binding name="wsFed2007BindingConfig"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="112000000"
						 maxReceivedMessageSize="112000000"
						 useDefaultWebProxy="false">
					<readerQuotas maxDepth="112000000"
								  maxStringContentLength="112000000"
								  maxArrayLength="112000000"
								  maxBytesPerRead="112000000"
								  maxNameTableCharCount="112000000"
                        />
					<security mode="TransportWithMessageCredential">
						<message algorithmSuite="Default" issuedKeyType="SymmetricKey"
							issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"
							negotiateServiceCredential="true" establishSecurityContext="false">
							<issuer address="https://hostname/System/IdentityService"
								binding="ws2007HttpBinding" bindingConfiguration="ws2007BindingConfig">
							</issuer>
						</message>
					</security>
				</binding>
			</ws2007FederationHttpBinding>
			<ws2007HttpBinding>
				<binding name="ws2007BindingConfig" useDefaultWebProxy="false">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" negotiateServiceCredential="true"
							algorithmSuite="Default" establishSecurityContext="false"/>
					</security>
				</binding>
			</ws2007HttpBinding>
			<!--
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint" 
                 closeTimeout="00:01:00" 
                 openTimeout="00:01:00" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:01:00" 
                 transferMode="Buffered" 
                 hostNameComparisonMode="StrongWildcard" 
                 maxBufferPoolSize="112000000" 
                 maxBufferSize="112000000" 
                 maxReceivedMessageSize="112000000"
                 >
          <readerQuotas maxDepth="112000000" 
                        maxStringContentLength="112000000" 
                        maxArrayLength="112000000" 
                        maxBytesPerRead="112000000" 
                        maxNameTableCharCount="112000000"
                        />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
      -->
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="acceptLargeGraphs">
					<dataContractSerializer maxItemsInObjectGraph="2000000000"/>
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
