<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>

        <binding name="NetTcpBindingEndpoint"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="112000000"
                 maxBufferSize="112000000"
                 maxConnections="10"
                 maxReceivedMessageSize="112000000">
          <readerQuotas maxDepth="112000000"
                        maxStringContentLength="112000000"
                        maxArrayLength="112000000"
                        maxBytesPerRead="112000000"
                        maxNameTableCharCount="112000000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

        <binding name="netTcpSecureBindingConfig"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxBufferPoolSize="112000000"
                 maxReceivedMessageSize="112000000"
                 transferMode="Buffered">
          <readerQuotas maxBytesPerRead="112000000" maxStringContentLength="112000000"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>

      <wsHttpBinding>
        <binding name="WSSecureMessageUserName"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxBufferPoolSize="112000000"
                 maxReceivedMessageSize="112000000">
          <readerQuotas maxBytesPerRead="112000000" maxStringContentLength="112000000"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AcceptTestCertificate">
          <dataContractSerializer maxItemsInObjectGraph="2000000000"/>
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck" certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="AcceptLargeGraphs">
          <dataContractSerializer maxItemsInObjectGraph="2000000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--<endpoint address="net.tcp://hostname/serviceName" 
                behaviorConfiguration="AcceptTestCertificate" 
                binding="netTcpBinding" 
                bindingConfiguration="netTcpSecureBindingConfig" 
                contract="contractName" 
                name="serviceInterface"/>-->
      <!--<endpoint address="http://hostname/serviceName" behaviorConfiguration="AcceptTestCertificate" binding="wsHttpBinding" bindingConfiguration="WSSecureMessageUserName" contract="contractName" name="serviceInterface"/>-->
      <!--<endpoint address="net.tcp://hostname:18802/Ranger/TrackTraceService" behaviorConfiguration="AcceptTestCertificate" binding="netTcpBinding" bindingConfiguration="netTcpSecureBindingConfig" contract="Cdc.SupplyChain.Services.Ranger.TrackTrace.ServiceContracts.ITrackTraceService" name="ITrackTraceService"/>-->
      <endpoint address="net.tcp://hostname/serviceName"
                binding="netTcpBinding"  behaviorConfiguration="AcceptLargeGraphs"
                bindingConfiguration="NetTcpBindingEndpoint"
                contract="contractName"
                name="serviceInterface">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>
