<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <imi.wms.mobile.ui connectTimeout="5" receiveTimeout="10" sendTimeout="5" retryCount="2" logEnabled="False" terminalId="910T1" nativeDriver="">
    <fontConversions>
      <font oldName="MS Sans Serif" newName="Microsoft Sans Serif" sizeAdjust="0"/>
    </fontConversions>
    <servers>
      <server name="Dev" hostName="SE0133D" port="16601" default="False" defaultApplication=""/>
    </servers>
  </imi.wms.mobile.ui>
</configuration>