<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OtpPortTypeSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/services/otp" binding="basicHttpBinding"
                bindingConfiguration="OtpPortTypeSoap11" contract="OTPClient.OtpPortType"
                name="OtpPortTypeSoap11" />
        </client>
    </system.serviceModel>
</configuration>