<folder caption="Transportation">
  <item caption="Departure" id="91673c16-5527-49bf-ba15-da33b8300af1" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Departure.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Departure.Departure/ShowDialog"/>
  <item caption="Departure Shipping Location/Dock Door" id="7b42557e-3351-4946-8e44-618ff139176f" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Departure.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Departure.DepShipLocandDockDoor/ShowDialog"/>
  <item caption="Node" id="59649b65-2a28-4337-b316-8c885d47959e" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Node.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Node.Node/ShowDialog"/>
  <item caption="Party" id="90d62495-ff89-4593-ae25-1e50fd6736e5" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Party.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Party.Party/ShowDialog"/>
  <item caption="Transport Load" id="0467903b-e406-443f-aae4-c4dcbd2f45d8" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.TransportLoad.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.TransportLoad.TransportLoad/ShowDialog"/>
  <folder id="ab354cdc-f42f-4a43-9047-938d55794f5c" caption="History">
    <item caption="Departure History" id="532e568c-aa92-44af-8682-fd319dc44648" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.DepartureHistory.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.DepartureHistory.DepartureHistory/ShowDialog"/>
    <item caption="User Logon History" id="a692491c-1ace-4b19-bbe6-cc29987f97e7" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.User.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.User.UserLogonHistory/ShowDialog"/>
    <item caption="User Change History" id="012115c2-1ce9-401b-8c1f-0f3d58a857f6" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.User.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.User.UserChangeHistory/ShowDialog"/>
  </folder>
  <folder id="5bc62b00-19a5-45d3-89f8-23839d79c586" caption="Configuration">
    <item caption="Route" id="242114fb-0715-4ae6-9ff6-843b3bcd4e04" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Route.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Route.Route/ShowDialog"/>
    <item caption="Route Shipping Location/Dock Door" id="ec46dd3d-a51a-424d-926a-7b3304450f8d" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Route.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Route.ShipLocationandDockDoor/ShowDialog"/>
    <item caption="Week Template" id="1ba97192-e2d1-4216-a0f9-4f773a877869" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.WeekTemplate.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.WeekTemplate.WeekTemplate/ShowDialog"/>
    <item caption="Node Conversion" id="f48d592e-798e-45c1-a6b7-65ac6d88239b" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.NodeConversion.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.NodeConversion.NodeConversion/ShowDialog"/>
    <item caption="Forwarder" id="7e37deaf-5227-4352-9a30-7ea9aba5aeb0" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Forwarder.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Forwarder.Forwarder/ShowDialog"/>
    <item caption="Method of Shipment" id="d82b3341-1065-488b-a641-c2ed85d7bac0" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.MethodOfShipment.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.MethodOfShipment.MethodOfShipment/ShowDialog"/>
    <item caption="Transport Condition" id="51cabbfb-040f-4d2c-b034-b083b6f9d75c" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.TransportCondition.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.TransportCondition.TransportCondition/ShowDialog"/>
    <item caption="Customer Order Type" id="4efd3ef3-fd7e-4e49-b149-26075a73af09" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.CustomerOrderType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.CustomerOrderType.CustomerOrderType/ShowDialog"/>
    <item caption="Vehicle Type" id="159070e1-a5ca-473f-bf47-425b8151423c" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.VehicleType.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.VehicleType.VehicleType/ShowDialog"/>
  </folder>
  <folder id="4c8f666a-d350-417a-8630-a009fee82de0" caption="System">
    <item caption="System Admin" id="50e1537c-4c1c-4ac4-8e3b-58567c89d7fc" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Configuration.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Configuration.SystemConfiguration/ShowDialog"/>
    <item caption="User" id="e44eba69-9562-4256-bfda-d402f9b9a643" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.User.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.User.User/ShowDialog"/>
    <item caption="Attribute" id="63ea64ef-766a-4442-9516-938eb22c29bb" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Attribute.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Attribute.Attribute/ShowDialog"/>
    <item caption="Alarm" id="f591041d-9fca-4f78-8103-2c84ed35a642" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.Alarm.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.Alarm.ConfigureAlarm/ShowDialog"/>
    <item caption="Alarm Group" id="1d15db1c-770b-4b06-9f12-7e61cecfd297" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.AlarmGroup.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.AlarmGroup.AlarmGroup/ShowDialog"/>
    <item caption="Conversion Units" id="709452e8-6b32-4cc5-b04f-e32e976b322a" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.ConversionUnit.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.ConversionUnit.ConversionUnit/ShowDialog"/>
    <item caption="Set of Conversion Units" id="1fb5a248-6777-43d2-9a86-3a6f51553d97" assemblyFile="Cdc.SupplyChain.Transportation.UX.Modules.ConversionUnit.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.Transportation.UX.Modules.ConversionUnit.ConversionUnitSet/ShowDialog"/>
  </folder>
  <item caption="Change User Settings" id="f833c22d-f4cc-4207-82dc-89f30d2edb70" assemblyFile="Cdc.SupplyChain.UX.Modules.Transportation.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.Transportation/ShowDialog" parameters="event://Cdc.SupplyChain.UX.Modules.Transportation.Views.ChooseDefaultNode/ShowDialog"/>
</folder>
