<securityConfiguration defaultAuthorizationInstance="" defaultSecurityCacheInstance="">
  <authorizationProviders>
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\WarehouseAuthStore.xml"
     application="Warehouse" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type="" 
     name="Warehouse" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\TransportationAuthStore.xml"
      application="Transportation" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="Transportation" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\ABCAuthStore.xml"
      application="ABC" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="ABC" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\DockAuthStore.xml"
      application="Dock" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="Dock" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\GatewayAuthStore.xml"
      application="Gateway" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="Gateway" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\GatewayTMSAuthStore.xml"
      application="GatewayTMS" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="GatewayTMS" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\OutputManagerAuthStore.xml"
     application="OutputManager" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
     name="OutputManager" />

    <!--<add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\GatewayMHSAuthStore.xml"
      application="GatewayMHS" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="GatewayMHS" />-->
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\OrderManagementAuthStore.xml"
      application="OrderManagement" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="OrderManagement" />
    <add storeLocation="msxml://{currentPath}\..\..\instance\SmartClientDevelop\init\ActivityMonitorAuthStore.xml"
      application="ActivityMonitor" scope="" auditIdentifierPrefix="AzMan Authorization Provider" type=""
      name="ActivityMonitor" />
  </authorizationProviders>
</securityConfiguration>