<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="imi.supplychain.ux.shell" type="Imi.SupplyChain.UX.Shell.Configuration.ShellConfigurationSection, Imi.SupplyChain.UX.Shell"/>
		<section name="imi.supplychain.ux.modules.ordermanagement" type="Imi.SupplyChain.UX.Modules.OrderManagement.Configuration.OMSConfigurationSection, Imi.SupplyChain.UX.Modules.OrderManagement"/>
		<section name="imi.framework.datacollection.regexbarcodedecoder" type="Imi.Framework.DataCollection.RegexBarcodeDecoderSection, Imi.Framework.DataCollection"/>
		<section name="imi.framework.UX.Wpf.TextInputBarcodeScanner" type="Imi.Framework.UX.Wpf.Services.TextInputBarcodeScannerSection, Imi.Framework.UX.Wpf"/>
	</configSections>
	<imi.supplychain.ux.shell
	  hostName="localhost"
	  hostPort="18801"
	  instanceNameLocalInstall=""
	  helpBaseUri=""
	  hideUnauthorizedMenuItems="False"
    themeName="MetroLight"
    themeTintColor="#FF808080"
    isGlassEnabled="False"
	  HttpListenerPort=""
    >
		<services>
			<add serviceType="Imi.SupplyChain.UX.Infrastructure.Services.IUserSessionService, Imi.SupplyChain.UX.Infrastructure" instanceType="Imi.SupplyChain.UX.Shell.Services.UserSessionService, Imi.SupplyChain.UX.Shell"/>
			<add serviceType="Imi.Framework.UX.Services.IUXSettingsService, Imi.Framework.UX" instanceType="Imi.SupplyChain.UX.Services.UXSettingsService, Imi.SupplyChain.UX"/>
			<add serviceType="Imi.Framework.UX.Services.IChannelFactoryService, Imi.Framework.UX" instanceType="Imi.SupplyChain.UX.Services.ChannelFactoryService, Imi.SupplyChain.UX"/>
			<add serviceType="Imi.SupplyChain.UX.Infrastructure.Services.IAuthorizationService, Imi.SupplyChain.UX.Infrastructure" instanceType="Imi.SupplyChain.UX.Services.AuthorizationService, Imi.SupplyChain.UX"/>
			<add serviceType="Imi.Framework.UX.Services.IActionCatalogService, Imi.Framework.UX" instanceType="Imi.Framework.UX.Services.ActionCatalogService, Imi.Framework.UX"/>
		</services>
		<languages>
			<language name="English" culture="en-US"/>
		</languages>
	</imi.supplychain.ux.shell>
	<imi.supplychain.ux.modules.ordermanagement
		  hostName="pluto"
		  sendDomainUserId="false"
		  sendSecurityToken="false"
		  A10_URL="http://se0109d.swg.cdc.root:8080/anywhereDev10a"
		  kickstartURL="http://localhost:4331/IMI/SupplyChain/SmartClientKickStart?ModuleId=OrderManagement">
		<aomHostPorts>
			<aomHostPort language="default" number="2431" />
			<aomHostPort language="swe" number="2431" />
			<aomHostPort language="dan" number="2431" />
			<aomHostPort language="nor" number="2431" />
			<aomHostPort language="fin" number="2431" />
			<aomHostPort language="eng" number="2431" />
		</aomHostPorts>
	</imi.supplychain.ux.modules.ordermanagement>

	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:9395/Ranger/TrackTraceService" binding="netTcpBinding" behaviorConfiguration="acceptLargeGraphs" bindingConfiguration="netTcpBindingConfig" contract="ITrackTraceService" name="ITrackTraceService"/>
			<endpoint address="https://hostname/serviceName" binding="ws2007FederationHttpBinding" behaviorConfiguration="acceptLargeGraphs" bindingConfiguration="wsFed2007BindingConfig" contract="contractName" name="serviceInterface"/>
			<!--
      <endpoint address="net.tcp://hostname/serviceName" binding="netTcpBinding" behaviorConfiguration="acceptLargeGraphs" bindingConfiguration="netTcpBindingConfig" contract="contractName" name="serviceInterface"/>
      -->
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="NonSecureBindingConfig"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="6553600"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="6553600"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 transferMode="Buffered"
                 useDefaultWebProxy="true"
                 >
					<readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384"
                        />
					<security mode="None">
						<transport clientCredentialType="None"
                       proxyCredentialType="None" realm=""
                       />
						<message clientCredentialType="UserName"
                     algorithmSuite="Default"
                     />
					</security>
				</binding>
			</basicHttpBinding>
			<ws2007FederationHttpBinding>
				<binding name="wsFed2007BindingConfig"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="524288"
						 maxReceivedMessageSize="112000000"
             useDefaultWebProxy="false">
					<readerQuotas maxDepth="112000000"
								  maxStringContentLength="112000000"
								  maxArrayLength="112000000"
								  maxBytesPerRead="112000000"
								  maxNameTableCharCount="112000000"
                        />
					<security mode="TransportWithMessageCredential">
						<message algorithmSuite="Default" issuedKeyType="SymmetricKey"
							issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"
							negotiateServiceCredential="true" establishSecurityContext="false">
							<issuer address="https://hostname/System/IdentityService"
								binding="ws2007HttpBinding" bindingConfiguration="ws2007BindingConfig">
							</issuer>
						</message>
					</security>
				</binding>
			</ws2007FederationHttpBinding>
			<ws2007HttpBinding>
				<binding name="ws2007BindingConfig" useDefaultWebProxy="false">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" negotiateServiceCredential="true"
							algorithmSuite="Default" establishSecurityContext="false" />
					</security>
				</binding>
			</ws2007HttpBinding>
			<netTcpBinding>
				<binding name="netTcpBindingConfig"
						 closeTimeout="00:01:00"
						 openTimeout="00:01:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 transferMode="Buffered"
						 hostNameComparisonMode="StrongWildcard"
						 maxBufferPoolSize="524288"
						 maxBufferSize="112000000"
						 maxReceivedMessageSize="112000000"
                 >
					<readerQuotas maxDepth="112000000"
								  maxStringContentLength="112000000"
								  maxArrayLength="112000000"
								  maxBytesPerRead="112000000"
								  maxNameTableCharCount="112000000"
                        />
					<security mode="Transport">
						<transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign"
                       />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="acceptLargeGraphs">
					<dataContractSerializer maxItemsInObjectGraph="2000000000"/>
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<!--
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100000"/>
		</diagnostics>
		-->
	</system.serviceModel>

	<imi.framework.datacollection.regexbarcodedecoder fnc1="29">
		<decoderDefinitions>
			<add applicationIdentifier="00"
				 applicationIdentifierName="SSCC"
				 expression="^00[0-9]{18}"/>
			<add applicationIdentifier="00"
				 applicationIdentifierName="SSCC"
				 expression="^[0-9]{18}"/>
			<add applicationIdentifier="01"
					   applicationIdentifierName="EAN"
					   expression="^01[0-9]{14}"/>
			<add applicationIdentifier="02"
				 applicationIdentifierName="EAN"
				 expression="^02[0-9]{14}"/>
		</decoderDefinitions>
	</imi.framework.datacollection.regexbarcodedecoder>

	<imi.framework.UX.Wpf.TextInputBarcodeScanner EOF_char="&#27;"/>
</configuration>
