<policyInjection>
  <policies>
    <add name="BusinessLayer Logging Policy">
      <matchingRules>
        <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Member Name Matching Rule">
          <matches>
            <add match="Execute" ignoreCase="false" />
          </matches>
        </add>
        <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.NamespaceMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Namespace Matching Rule">
          <matches>
            <add match="Imi.SupplyChain.Warehouse.BusinessLogic.*" ignoreCase="false" />
            <add match="Imi.SupplyChain.Transportation.BusinessLogic.*" ignoreCase="false" />
            <add match="Imi.SupplyChain.OutputManager.BusinessLogic.*" ignoreCase="false" />
          </matches>
        </add>
      </matchingRules>
      <handlers>
        <add logBehavior="Before" beforeMessage="Call Method" afterMessage=""
          eventId="0" includeParameterValues="true" includeCallStack="false"
          includeCallTime="true" priority="-1" severity="Information"
          order="0" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.LogCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Logging Handler">
          <categories>
            <add name="General" />
          </categories>
        </add>
      </handlers>
    </add>
    <add name="Exception Handling Policy">
      <handlers>
        <add exceptionPolicyName="DefaultShieldingPolicy" order="0" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.ExceptionCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Exception Handling Handler" />
      </handlers>
    </add>
    <add name="ServiceLayer Logging Policy">
      <matchingRules>
        <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.NamespaceMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Namespace Matching Rule">
          <matches>
            <add match="Imi.SupplyChain.Warehouse.Services.*" ignoreCase="false" />
            <add match="Imi.SupplyChain.Transportation.Services.*" ignoreCase="false" />
            <add match="Imi.SupplyChain.OutputManager.Services.*" ignoreCase="false" />
          </matches>
        </add>
      </matchingRules>
      <handlers>
        <add logBehavior="Before" beforeMessage="Call Method" afterMessage=""
          eventId="0" includeParameterValues="true" includeCallStack="false"
          includeCallTime="true" priority="-1" severity="Information"
          order="0" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.LogCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Logging Handler">
          <categories>
            <add name="General" />
          </categories>
        </add>
      </handlers>
    </add>
    <add name="Transportation Database Tracing Policy">
      <matchingRules>
        <add match="RMUSER" ignoreCase="false" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TagAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Tag Attribute Matching Rule" />
      </matchingRules>
      <handlers>
        <add order="0" type="Imi.SupplyChain.Transportation.Tracing.BusinessLogic.TraceHandler, Imi.SupplyChain.Transportation.Tracing.BusinessLogic"
          name="Transportation Trace Handler" />
      </handlers>
    </add>
    <add name="Warehouse Database Tracing Policy">
      <matchingRules>
        <add match="OWUSER" ignoreCase="false" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TagAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Tag Attribute Matching Rule" />
      </matchingRules>
      <handlers>
        <add order="0" type="Imi.SupplyChain.Warehouse.Tracing.BusinessLogic.TraceHandler, Imi.SupplyChain.Warehouse.Tracing.BusinessLogic"
          name="Warehouse Trace Handler" />
      </handlers>
    </add>
    <add name="Output Manager Database Tracing Policy">
      <matchingRules>
        <add match="OMUSER" ignoreCase="false" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.TagAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Tag Attribute Matching Rule" />
      </matchingRules>
      <handlers>
        <add order="0" type="Imi.SupplyChain.OutputManager.Tracing.BusinessLogic.TraceHandler, Imi.SupplyChain.OutputManager.Tracing.BusinessLogic"
          name="Output Manager Trace Handler" />
      </handlers>
    </add>
  </policies>
</policyInjection>