<microsoft.identityModel>
  <service>
    <securityTokenHandlers>
      <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--
      <add type="Imi.SupplyChain.Services.IdentityModel.Yubico.YubicoSecurityTokenHandler, Imi.SupplyChain.Services.IdentityModel" />      
      -->
      <add type="Imi.SupplyChain.Services.IdentityModel.WindowsUserNameSecurityTokenHandler, Imi.SupplyChain.Services.IdentityModel" />
    </securityTokenHandlers>
  </service>
  <service name="wsFedServiceConfig">
    <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
        <add name="IMISTS" thumbprint="38 c3 34 92 4a cd 01 39 c3 70 09 f4 29 70 d8 2a 44 c1 d3 67"/>
      </trustedIssuers>
    </issuerNameRegistry>
    <serviceCertificate>
      <certificateReference findValue="CN=localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
    </serviceCertificate>
    <certificateValidation revocationMode="NoCheck"/>
    <audienceUris mode="Never"/>
  </service>
</microsoft.identityModel>