<folder caption="GatewayMHS" id="ad56c129-3b15-4a8a-83d3-a59a59fafb08">
  <item caption="EDI Message Queue" id="7d9a1eee-428c-4f69-a2fe-eb42d4ea05ea" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.EdiMessageQueue.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.EdiMessageQueue.EDIMessageQueue/ShowDialog"/>
  <item caption="HAPI Inbound Message Queue" id="389e55b0-777b-4f10-951a-5ea01d5f83c9" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.HapiInboundMessageQueue.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.HapiInboundMessageQueue.HAPIInboundMessageQueue/ShowDialog"/>
  <item caption="HAPI Outbound Message Queue" id="7a4fd8cf-35f4-4fbe-9eda-1dd237598ca1" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.HapiOutboundMessageQueue.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.HapiOutboundMessageQueue.HAPIOutboundMessageQueue/ShowDialog"/>
  <item caption="TAPI Message Queue" id="87094db6-5333-4e97-a5e9-c2fd42d37886" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.TapiMessageQueue.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.TapiMessageQueue.TAPIMessageQueue/ShowDialog"/>
  <item caption="Carrier Compliancy Message Queue" id="5e19affe-e144-4637-9c33-1fda90dcc500" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.CarrierCompliancyMessageQueue.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.CarrierCompliancyMessageQueue.CarrierCompliancyMessageQueue/ShowDialog"/>
  <folder id="f4aaa7ae-7476-42c8-9219-18897411de36" caption="Configure">
    <item caption="EDI Partner" id="32311f3b-6e02-442f-ace9-2565250fdc61" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.EdiPartner.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.EdiPartner.EDIPartner/ShowDialog"/>
    <item caption="EDI Message Settings" id="3d2b1ffc-c048-4467-b238-b4185c6f30d3" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.EdiMessageSettings.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.EdiMessageSettings.EDIMessageSettings/ShowDialog"/>
    <item caption="Web Services Profile" id="4d13ecc8-289a-4c04-9ccb-726e2f68425a" assemblyFile="Imi.SupplyChain.GatewayMHS.UX.Modules.WebServiceProfile.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.GatewayMHS.UX.Modules.WebServiceProfile.ConfigureWebServicesProfile/ShowDialog"/>
  </folder>
  <item caption="Change User Settings" id="a910efa9-9771-e011-bf6e-000e7ffed039" assemblyFile="Imi.SupplyChain.UX.Modules.GatewayMHS.dll" topicIdentity="event://Imi.SupplyChain.UX.Modules.GatewayMHS/ShowDialog" parameters="event://Imi.SupplyChain.UX.Modules.GatewayMHS.Views.ChooseDefaultWarehouse/ShowDialog"/>
</folder>
