<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="imi.framework.messaging" type="Imi.Framework.Messaging.Configuration.MessagingSection, Imi.Framework.Messaging"/>
    <section name="imi.wms.mobile.server" type="Imi.Wms.Mobile.Server.Configuration.ServerSection, Imi.Wms.Mobile.Server"/>
  </configSections>
  
  <imi.framework.messaging pendingOperationsTimeout="20000" deadlockTimeout="60000"/>

  <imi.wms.mobile.server logPath="..\..\instance\ThinClientDevelop\log" maxLogSize="1048576" managerPort="9301" sessionIdleTimeout="7200" stateTimeout="10" desktopHeapSizeInKB="20480">
    <applications>
      <application name="Wireless_VGA" executablePath="..\..\instance\ThinClientDevelop\app\wireless\wireless.exe" arguments="/UNITNAME @TerminalId /DB WHTRUNK /PASS OWUSER /USER OWUSER /SESSIONID @Id /SCREEN 1024X768"/>
      <application name="Wireless" executablePath="..\..\instance\ThinClientDevelop\app\wireless\wireless.exe" arguments="/UNITNAME @TerminalId /DB WHTRUNK /PASS OWUSER /USER OWUSER /SESSIONID @Id"/>
    </applications>
    <tcpAdapter port="16601" socketIdleTimeout="60"/>
  </imi.wms.mobile.server>

  <system.diagnostics>
    <trace autoflush="true">
    </trace>
    <sources>
      <source name="MessageEngine" switchValue="Information">
        <!--
        * The "switchValue" attribute can have one of the following values:
        *
        * Off         Tracing disabled
        * Error       Trace exceptions
        * Warning     Trace exceptions and warnings
        * Information Trace exceptions, warnings and info messages
        * Verbose     Trace verbose
        * All         Trace all of the above
        -->
        <listeners>
          <!--Logs to the Windows Event Log (not recommended for trace levels above "Warning").-->
          <!--
          <add name="EventLog"
               type="System.Diagnostics.EventLogTraceListener"
               initializeData="MobileDevelop"/>
          -->
          
          <add name ="ConsoleListener" 
               type="System.Diagnostics.ConsoleTraceListener"
               traceOutputOptions="ProcessId, ThreadId, DateTime"
               />
          
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>