<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="TemplateRootDirectory" value="..\..\..\..\..\CodeSmith\MetaManager" />
    <add key="SourceDestinationDirectory" value="c:\temp\CodeSmithTemplateSource" />
    <add key="AssemblyFilename" value="..\..\..\..\..\..\..\references\CodeSmith\Cdc.MetaManager.CodeGeneration.CodeSmithTemplates.dll" />
    <add key="SourceNamespace" value="Cdc.MetaManager.CodeGeneration.CodeSmithTemplates" />
    <add key="DebugInfo" value="true" />
    <add key="AskWhenAssemblyIsReadOnly" value="true" />
    <add key="NotCompileList_Count" value="2" />
    <add key="NotCompileList0000" value="UX\old" />
    <add key="NotCompileList0001" value="UX\__PresenterTemplate.cs" />
    <add key="ReferenceList_Count" value="4" />
    <add key="ReferenceList0000" value="..\..\..\..\Framework\Parsing\CSharpParsing\bin\Debug\Cdc.Framework.Parsing.CSharpParsing.dll" />
    <add key="ReferenceList0001" value="..\..\..\..\DataAccess\bin\Debug\Cdc.MetaManager.DataAccess.dll" />
    <add key="ReferenceList0002" value="..\..\..\Caching\bin\Debug\Cdc.CodeGeneration.Caching.dll" />
    <add key="ReferenceList0003" value="..\..\..\..\BusinessLogic\bin\Debug\Cdc.MetaManager.BusinessLogic.dll" />
  </appSettings>
</configuration>
