<configuration>

	<configSections>
		<section name="imi.supplychain.server" type="Imi.Framework.Job.Configuration.ServerInstanceSection, Imi.Framework.Job"/>
	</configSections>
	
	<imi.supplychain.server systemId="OMDevelop" name="Output Manager Application Server" database="NotUsed" port="9300" uri="IMIServer" autoStart="true">
		
		<Log logLevel="Information" fileName="..\..\instance\OMDevelop\log\server.log" maxLogSize="51200" />
		
		<JobTypeList>
			<JobType name="AutoServiceHost" type="Imi.SupplyChain.Server.Job.ServiceHost.AutoServiceHostJob, Imi.SupplyChain.Server.Job.ServiceHost" />
		</JobTypeList>
		
		<JobList>
			
			<Job name="AutoServiceHost" enabled="true" scheduleName="" waitForEvent="false">
				<Log logLevel="Information" fileName="..\..\instance\OMDevelop\log\serviceName.log" maxLogSize="512000" />
				<Implementation name="AutoServiceHost">
					<Parameter name="Filter" value="Imi.SupplyChain.OM.Services.OutputHandler.Service.dll" />
					<Parameter name="UseCompression" value="false" />
				</Implementation>
			</Job>
			
		</JobList>
		
	</imi.supplychain.server>

	<connectionStrings>
		<add name="OMUSER" connectionString="data source=WH80M;user id=omuser;password=omuser;pooling=true;enlist=false" providerName="" />
	</connectionStrings>

	<appSettings>
		<add key="OutputManagerID" value="1" />
		<add key="MainService" value="true"/>
	</appSettings>
	
	<system.serviceModel>
		
		<behaviors>
			<serviceBehaviors>
				<behavior name ="wsHttpServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2000000000" />
					<serviceDebug includeExceptionDetailInFaults ="true"/>
					<serviceMetadata httpGetEnabled ="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<services>
			<service behaviorConfiguration="wsHttpServiceBehavior" name="template">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" name="template" contract="template" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/serviceName" />
					</baseAddresses>
				</host>
			</service>
		</services>
		
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfig" sendTimeout="00:10:00" openTimeout="00:01:00" closeTimeout="00:01:00" receiveTimeout="00:10:00" maxBufferPoolSize="8388608" maxReceivedMessageSize="112000000">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
										realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true"
										algorithmSuite="Default" establishSecurityContext="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		
	</system.serviceModel>
</configuration>