<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="imi.framework.shared.configuration" type="Imi.Framework.Shared.Configuration.SharedConfigurationSection, Imi.Framework.Shared"/>
	</configSections>
	<imi.framework.shared.configuration>
		<instances>
			<add name="VoiceDevelop" namespace="Imi.Wms.Voice.Vocollect" file="..\..\instance\VoiceDevelop\init\server.config"/>
		</instances>
	</imi.framework.shared.configuration>
</configuration>