<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

	</configSections>
	
	<spring>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
		</parsers>
		<context>
			<resource uri="assembly://Cdc.MetaManager.DataAccess.Config/Cdc.MetaManager.DataAccess.Config/MetaManagerConfig.xml"/>
		</context>
	</spring>
	
	<appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UserSettingsConfigFile" value="..\..\instance\Main\init\UserSettings.config"/>
    <add key="RepositoryType" value ="ClearCase"/>
    <add key="RepositoryPath" value ="C:\Views\jmollenstahl_Trunk_ss\metadata"/>
    <add key="DeleteRemovedFilesFromRepo" value ="true"/>
    <add key="WarehousePLSQLSpecDirectory" value="V:\jmollenstahl_trunk_dyn\server\Warehouse\oracle\pak\spec" />
    <add key="TransportationPLSQLSpecDirectory" value="V:\jmollenstahl_trunk_dyn\server\Transportation\oracle\pak\spec" />
    <add key="OutputManagerPLSQLSpecDirectory" value="V:\jmollenstahl_trunk_dyn\server\OutputManager\oracle\pak\spec" />
    <add key="CodeGeneratingOutputRootFolder" value="N:\source\Auto"/>
	</appSettings>

	<databaseSettings>
		<add key="db.provider" value="SqlServer-2.0" />
		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />

		<add key="db.connectionstring" value="Server=HSLSWG02;Database=LosAngeles;Trusted_Connection=True" />
		
	</databaseSettings>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
				--&gt;
				<!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
				<!-- otherwise BasicConfigurer.Configure is used   -->
				<!-- log4net configuration file is specified with key configFile-->

				<arg key="configType" value="INLINE"/>
				<arg key="configFile" value="filename"/>
			</factoryAdapter>
		</logging>
	</common>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %logger - %message%newline"/>
			</layout>
		</appender>

		<!-- Set default logging level to DEBUG -->

		<root>
			<level value="OFF"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>

		<!-- Set logging for Spring.  Logger names in Spring correspond to the namespace -->

		<logger name="Spring">
			<level value="OFF"/>
		</logger>

		<logger name="Spring.Data">
			<level value="OFF"/>
		</logger>

		<logger name="NHibernate">
			<level value="OFF"/>
		</logger>


	</log4net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>