<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="imi.wms.server" type="Imi.Framework.Job.Configuration.ServerInstanceSection, Imi.Framework.Job"/>
    <section name="imi.wms.server.job.labelDispatcher" type="Imi.Wms.Server.Job.LabelDispatcher.Configuration.LabelDispatcherSection, Imi.Wms.Server.Job.LabelDispatcher"/>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name ="wms" connectionString="data source=WHTRUNK;user id=owuser;password=owuser;pooling=false;enlist=false"/>
  </connectionStrings>

  <imi.wms.server.job.labelDispatcher log="true" logDirectory="c:\temp\labels">
    <ReportList>
      <Report id="CARLBLPRE_win" procedure="RPTCARLBLPRE.GENERATEDATA">
        <Layout fileName="C:\Project\views\togr_trunk_ss\dotnet\source\Wms\Server\Job\LabelDispatcher\labels\CARLBLPRE_eng.lbl"/>
      </Report>
      <Report id="CARLBLASN_win" procedure="RPTCARLBLASN.GENERATEDATA">
        <Layout fileName="C:\Project\views\togr_trunk_ss\dotnet\source\Wms\Server\Job\LabelDispatcher\labels\CARLBLASN_eng.lbl"/>
      </Report>
      <Report id="CPL_win" procedure="RPTCPL.GENERATEDATA">
        <Layout fileName="C:\Project\views\togr_trunk_ss\dotnet\source\Wms\Server\Job\LabelDispatcher\labels\CPL_eng.lbl"/>
      </Report>
      <Report id="ITELBL_win" procedure="RPTITELBL.GENERATEDATA">
        <Layout fileName="C:\Project\views\togr_trunk_ss\dotnet\source\Wms\Server\Job\LabelDispatcher\labels\ITELBL_eng.lbl"/>
      </Report>
    </ReportList>
  </imi.wms.server.job.labelDispatcher>

  <imi.wms.server systemId="WMSProduction" name="Warehouse Production System" database="wms" port="9000" uri="IMIServer" autoStart="true">
    <Log logLevel="Verbose" fileName="..\..\instance\WMSProduction\log\server.log" maxLogSize="512000"/>
    <ScheduleList>
      <Schedule name="30SecRule"  description="30 second rule">
        <RuleSet>
          <Rule second="0,30" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="15SecRule"  description="15 second rule">
        <RuleSet>
          <Rule second="0,15,30,45" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="10SecRule"  description="10 second rule">
        <RuleSet>
          <Rule second="0,10,20,30,40,50" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="OnceANight"  description="One a Night (once a day 20.15)">
        <RuleSet>
          <Rule second="0" minute="15" hour="20" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="DBDailyNight"  description="DBDaily Night (once a day 21.15)">
        <RuleSet>
          <Rule second="0" minute="15" hour="21" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="HourRule"  description="Hour Rule (once every hour)">
        <RuleSet>
          <Rule second="0" minute="0" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="DBWeek"  description="DBDaily Week (once every Sunday at 22.15)">
        <RuleSet>
          <Rule second="0" minute="15" hour="22" dayOfWeek="0" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="DailyCost"  description="Daily Cost Followup (once a day 23.15)">
        <RuleSet>
          <Rule second="0" minute="15" hour="23" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="5MinRule"  description="5 minute rule">
        <RuleSet>
          <Rule second="0" minute="0,5,10,15,20,25,30,35,40,45,50,55" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
      <Schedule name="1MinRule"  description="1 minute rule">
        <RuleSet>
          <Rule second="15" minute="" hour="" dayOfWeek="" dayOfMonth="" month=""/>
        </RuleSet>
      </Schedule>
    </ScheduleList>
    <JobTypeList>
      <JobType name="OracleJob" type="Imi.Wms.Server.Job.StandardJob.StandardOracleJob, Imi.Wms.Server.Job.StandardJob"/>
      <JobType name="WebServiceSnd" type="Imi.Wms.Server.Job.WebServiceSend.WebServiceSend, Imi.Wms.Server.Job.WebServiceSend"/>
      <JobType name="WebServiceSndiRen" type="Imi.Wms.Server.Job.WebServiceSendiRen.WebServiceSendiRen, Imi.Wms.Server.Job.WebServiceSendiRen"/>
      <JobType name="WinLabelDisp" type="Imi.Wms.Server.Job.LabelDispatcher.LabelDispatcher, Imi.Wms.Server.Job.LabelDispatcher"/>
      <JobType name="MailAgent" type="Imi.Wms.Server.Job.MailAgent.MailAgent, Imi.Wms.Server.Job.MailAgent"/>
    </JobTypeList>
    <JobList>
      <Job name="MailAgent" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="MailAgent.log" maxLogSize="512000"/>
        <Implementation name="MailAgent">
          <Parameter name="MailServer" value="imimail.imiad.im.se"/>
          <Parameter name="ReturnAddress" value="ow@im.se"/>
        </Implementation>
      </Job>
      <Job name="WebServiceSnd" enabled="false" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="WebServiceSnd.log" maxLogSize="512000"/>
        <Implementation name="WebServiceSnd">
          <Parameter name="profileRefreshTime" value="30"/>
        </Implementation>
      </Job>
      <Job name="WebServiceSndiRen" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="WebServiceSndiRen.log" maxLogSize="512000"/>
        <Implementation name="WebServiceSndiRen">
          <Parameter name="profileRefreshTime" value="30"/>
        </Implementation>
      </Job>
      <Job name="ArtBalQry" enabled="true" scheduleName="OnceANight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ArtBalQry.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobArtBalQry.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ArtBalQry.log"/>
        </Implementation>
      </Job>
      <Job name="ASNRcv" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ASNRcv.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobASNRcv.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ASNRcv.log"/>
          <Parameter name="LogLevel" value="1"/>
        </Implementation>
      </Job>
      <Job name="BldCar" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="BldCar.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobBldCar.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.BldCar.log"/>
        </Implementation>
      </Job>
      <Job name="CusOrdComp" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="CusOrdComp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobCusOrdComp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.CusOrdComp.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyCheck" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyCheck.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyCheck.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyCheck.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyClean" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyClean.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyClean.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyClean.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyClean_Dock" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyClean_Dock.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyClean_Dock.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyClean_Dock.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyClean_Frequent" enabled="true" scheduleName="HourRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyClean_Frequent.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyClean_Frequent.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyClean_Frequent.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyClean_In" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyClean_In.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyClean_In.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyClean_In.log"/>
        </Implementation>
      </Job>
      <Job name="DBDailyClean_Out" enabled="true" scheduleName="DBDailyNight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBDailyClean_Out.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBDailyClean_Out.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBDailyClean_Out.log"/>
        </Implementation>
      </Job>
      <Job name="DBWeeklyClean" enabled="true" scheduleName="DBWeek" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DBWeeklyClean.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDBWeeklyClean.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DBWeeklyCleanlog"/>
        </Implementation>
      </Job>
      <Job name="Delay" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="Delay.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDelay.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.Delay.log"/>
        </Implementation>
      </Job>
      <Job name="Delay30" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="Delay30.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDelayMsg.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.Delay30.log"/>
        </Implementation>
      </Job>
      <Job name="Delay60" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="Delay60.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDelayMsg.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.Delay60.log"/>
        </Implementation>
      </Job>
      <Job name="Delay90" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="Delay90.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDelayMsg.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.Delay90.log"/>
        </Implementation>
      </Job>
      <Job name="Delay120" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="Delay120.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDelayMsg.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.Delay120.log"/>
        </Implementation>
      </Job>
      <Job name="DepCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DepCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDepCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DepCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="DepMon" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DepMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDepMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DepMon.log"/>
        </Implementation>
      </Job>
      <Job name="DlvryDstnMon" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="DlvryDstnMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobDlvryDstnMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.DlvryDstnMon.log"/>
        </Implementation>
      </Job>
      <Job name="EDIRcv" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="EDIRcv.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobEDIRcv.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.EDIRcv.log"/>
        </Implementation>
      </Job>
      <Job name="ErrorReport" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ErrorReport.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobErrorReport.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ErrorReport.log"/>
        </Implementation>
      </Job>
      <Job name="HAPIRcv" enabled="true" scheduleName="1MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="HAPIRcv.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobHAPIRcv.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.HAPIRcv.log"/>
        </Implementation>
      </Job>
      <Job name="HAPISnd" enabled="true" scheduleName="1MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="HAPISnd.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobHAPISnd.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.HAPISnd.log"/>
        </Implementation>
      </Job>
      <Job name="IteChgCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="IteChgCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobIteChgCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.IteChgCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="ItemSendEDI" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ItemSendEDI.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobItemSendEDI.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ItemSendEDI.log"/>
        </Implementation>
      </Job>
      <Job name="LblDisp" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="LblDisp.log" maxLogSize="512000"/>
        <Implementation name="WinLabelDisp">
          <Parameter name="Procedure" value="JobLblDisp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.LblDisp.log"/>
        </Implementation>
      </Job>
      <Job name="PickOrderBuild_Aisle" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PickOrderBuild_Aisle.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPickOrderBuild_Aisle.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PickOrderBuild_Aisle.log"/>
        </Implementation>
      </Job>
      <Job name="PickOrderBuild_Location" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PickOrderBuild_Location.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPickOrderBuild_Location.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PickOrderBuild_Location.log"/>
        </Implementation>
      </Job>
      <Job name="PickOrderBuild_Standard" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PickOrderBuild_Standard.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPickOrderBuild_Standard.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PickOrderBuild_Standard.log"/>
        </Implementation>
      </Job>
      <Job name="PickOrderBuild_Stop" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PickOrderBuild_Stop.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPickOrderBuild_Stop.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PickOrderBuild_Stop.log"/>
        </Implementation>
      </Job>
      <Job name="PickWaveMon" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PickWaveMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPickWaveMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PickWaveMon.log"/>
        </Implementation>
      </Job>
      <Job name="PikCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PikCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPikCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PikCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="PikShtMon" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="PikShtMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobPikShtMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.PikShtMon.log"/>
        </Implementation>
      </Job>
      <Job name="ReplCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ReplCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobReplCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ReplCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="RflOrdShtMon" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="RflOrdShtMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobRflOrdShtMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.RflOrdShtMon.log"/>
        </Implementation>
      </Job>
      <Job name="ShipCompleteMon" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="ShipCompleteMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobShipCompleteMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.ShipCompleteMon.log"/>
        </Implementation>
      </Job>
      <Job name="SignalMon" enabled="true" scheduleName="" waitForEvent="false">
        <Log logLevel="Verbose" fileName="SignalMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobSignalMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.SignalMon.log"/>
          <Parameter name="LogLevel" value="1"/>
        </Implementation>
      </Job>
      <Job name="SlotInMon" enabled="true" scheduleName="5MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="SlotInMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobSlotInMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.JobSlotInMon.log"/>
        </Implementation>
      </Job>
      <Job name="SlotOut" enabled="true" scheduleName="OnceANight" waitForEvent="true">
        <Log logLevel="Verbose" fileName="SlotOut.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobSlotOut.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.SlotOut.log"/>
        </Implementation>
      </Job>
      <Job name="StockTakeMon" enabled="true" scheduleName="HourRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="StockTakeMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobStockTakeMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.StockTakeMon.log"/>
        </Implementation>
      </Job>
      <Job name="StoCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="StoCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobStoCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.StoCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="SupOrdComp" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="SupOrdComp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobSupOrdComp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.SupOrdComp.log"/>
        </Implementation>
      </Job>
      <Job name="TAPISnd" enabled="true" scheduleName="1MinRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="TAPISnd.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobTAPISnd.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.TAPISnd.log"/>
        </Implementation>
      </Job>
      <Job name="TrpCostFolUp" enabled="true" scheduleName="DailyCost" waitForEvent="true">
        <Log logLevel="Verbose" fileName="TrpCostFolUp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobTrpCostFolUp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.TrpCostFolUp.log"/>
        </Implementation>
      </Job>
      <Job name="TrpDisp" enabled="true" scheduleName="" waitForEvent="true">
        <Log logLevel="Verbose" fileName="TrpDisp.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobTrpDisp.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.TrpDisp.log"/>
        </Implementation>
      </Job>
      <Job name="TrpMon" enabled="true" scheduleName="30SecRule" waitForEvent="true">
        <Log logLevel="Verbose" fileName="TrpMon.log" maxLogSize="512000"/>
        <Implementation name="OracleJob">
          <Parameter name="Procedure" value="JobTrpMon.Main"/>
          <Parameter name="Log" value="true"/>
          <Parameter name="LogFile" value="WMS.TrpMon.log"/>
        </Implementation>
      </Job>
    </JobList>
  </imi.wms.server>
<!--
  <system.diagnostics>
    <sources>
      <source name="TrpMon" switchValue="All">
      -->
        <!--
        * The "switchValue" attribute can have one of the following values:
        *
        * Off         Tracing disabled
        * Error       Trace exceptions
        * Warning     Trace exceptions and warnings
        * Information Trace exceptions, warnings and info messages
        * Verbose     Trace verbose
        * All         Trace all of the above
        -->
<!--        <listeners>
          <add name ="ContextTraceListener" 
               type="Imi.Framework.Shared.Diagnostics.ContextTraceListener, Imi.Framework.Shared"
               traceOutputOptions="ThreadId, DateTime"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>  -->
</configuration>