<folder caption="Activity Based Costing">
  <item caption="Activity Type" id="ce2e1b73-095c-4319-a21d-75868fc77a48" assemblyFile="Cdc.SupplyChain.Abc.UX.Modules.Activity.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.Abc.UX.Modules.Activity.ActivityType/ShowDialog"/>
  <item caption="Activity Cost" id="b92c2b85-3201-488e-9095-04ae9275fa18" assemblyFile="Cdc.SupplyChain.Abc.UX.Modules.Activity.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.Abc.UX.Modules.Activity.ActivityCost/ShowDialog"/>
  <item caption="Activity Log" id="98a50565-ce04-4bb0-8f74-f92146e403aa" assemblyFile="Cdc.SupplyChain.Abc.UX.Modules.ActivityLog.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.Abc.UX.Modules.ActivityLog.ActivityLog/ShowDialog"/>
  <item caption="Activity Bill" id="f35514e4-c938-4ff3-8e0c-a73f8f1687f1" assemblyFile="Cdc.SupplyChain.Abc.UX.Modules.Activity.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.Abc.UX.Modules.Activity.ActivityBill/ShowDialog"/>
  <item caption="Configure Activity Based Costing" id="f1de55b1-0905-4df4-9b41-7f41b875e237" assemblyFile="Cdc.SupplyChain.Abc.UX.Modules.ActivityLog.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.Abc.UX.Modules.ActivityLog.ConfigureActivityLog/ShowDialog"/>
  <item caption="Change User Settings" id="4426f2c3-873d-4279-80e2-777984d12fd4" assemblyFile="Cdc.SupplyChain.UX.Modules.Warehouse.dll" topicIdentity="event://Cdc.SupplyChain.UX.Modules.ABC/ShowDialog" parameters="event://Cdc.SupplyChain.UX.Modules.Abc.Views.ChooseDefaultWarehouse/ShowDialog"/>
</folder>
