<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
    <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
  </sectionGroup>

  <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

  </configSections>

  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://Cdc.SupplyChain.Settings.DataAccess.Config/Cdc.SupplyChain.Settings.DataAccess.Config/AppConfig.xml"/>
    </context>
  </spring>

  <databaseSettings>
    <add key="db.provider" value="SqlServer-2.0"/>
    <add key="db.connectionstring" value="Data Source=..\..\UserSettings.sdf"/>
    <add key="hibernate.dialect" value="NHibernate.Dialect.MsSqlCeDialect"/>
    <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlServerCeDriver"/>
  </databaseSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.4000" newVersion="2.0.0.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>